

#mission {
  margin-left: 20px;
  margin-right: 20px;
  margin-top:75px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #aaa;
}

#navbar {
  z-index: 1;
}

#ourmission, #goal, #feedback{
  font-size: 90px;
  font-family: 'Libre Caslon Display', serif;
  font-style: normal;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;

}

#mission, #student {
  font-style:normal;
  color: black;
  font-size: 30px;
}

#sand{
  width:400px;
  height:570px;
}

#feedback{
  font-size: 50px;
  font-style:normal;
  color: black;
  margin-top: 100px;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2px;
  text-align: center;
}


#myCarousel {
  width: 100%;
  height: 40%;
}
