#laundry {
  width:20%;
  height:auto;
}
.img:hover{
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */
  margin: none;

}
