

body {

  margin: 0;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  background-color: #F2D0D0;
}

#regular {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  width: 300px;
  margin-top: 100px;
}


#margin {
  margin-left: 20px;
  margin-right: 20px;
  margin-top:85px;
}
#logo {
  margin-top: -30px;
  margin-bottom: -30px;
  margin-left: -20px;
  width:7.5%;
  height:7.5%;
}
#profile {
  float: right;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 20px;
}
#profilepic {
  float: right;
  width: 45px;
  height: 45px;
  margin-right:-7.5px;
  margin-top: -2.5px;

}
#active {
  background-color: #FFCCC9;
  color: #634F4F;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 15px;
  overflow: hidden;
  background-color: #634F4F;
  font-family: ;
  position: fixed;
  width: 100%;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: #EFE2E1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #FFEDED;
  color: #634F4F;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#Marginpad{
  margin-top: 80px;
}

#title {
  font-size: 30px;
  margin-top: 25px;

}

#new {
  margin-top: 200px;
}

    /* background-image:url("hands-using-computer-in-office.jpg"); */








#resourcedescription{
font-size: 40px;
font-family: 'Barlow Condensed', sans-serif;
text-align: center;
}
#navbar {
  z-index: 1;
}


div.transbox2 { */
    margin: 30px;
    padding-left: 75px;
    border: 30px solid black;
    background-color: black;
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    align-items: stretch;
    padding-bottom: 60px;
    background-image:url("hands-using-computer-in-office.jpg");
    background-size: cover;
}

div.transbox2 p {
  margin: 4%;
  font-weight: bold;
  color: black;
 }
div.background2 {
  background-color: pink;
}
